@import url('https://fonts.googleapis.com/css?family=Catamaran');
@import '../../animate/hamburgers.css';

.navbar {
    width: 100vw;
    background-color: #E4002B;
    height: 60px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    color: white;
}
.navbar img {
    margin-right: 115px;
}
.icons {
    margin-right: 15px;
    width: 140px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    width: 182px;
    height: auto;
    margin-left: 200px;
}
