.titleContainer {
    color: #A4A4A4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 15%;
    margin-right: 15%;
    height: 60px
}
.titleContainer h5 {
    font-weight: 500;
    font-size: 13px;
}
.titleContainer h5:hover {
    cursor: pointer;
    color: rgb(51, 51, 51)
}

.foodCarouselContainer {
    width: 100vw;
    height: auto;
}
.foodCarousel {
    margin-top: 20px;
    height: 200px;
    overflow: auto;
    white-space: nowrap;
    padding-left: 38%;
    padding-right: 43%;
}
.foodCarousel::-webkit-scrollbar {
    display: none;
}
.foodCarousel img {
    width: 140px;
    height: 145px;
    display: inline-block;
    margin-right: 18px;
}
